@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue);

body,
ul {
    margin: 0px;
    padding: 0px;
}

#menu a {
    color: black;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    transition: 0.3s;
}

#menu a:hover {
    color: crimson;
    font-size: 1.6em;
    transition: 0.6s;
    text-shadow: 4px 4px 6px #0000007a;
}

#logo img:hover {
    box-shadow: 4px 4px 6px #0000007a;
    transition: 0.3s;
}

#logo img {
    float: left;
    height: 55px;
    position: relative;
    top: 0px;
    left: 0px;
}

#header {
    width: 100%;
    position: relative;
    z-index: 90;
    box-sizing: border-box;
    height: 75px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
    box-shadow: 6px 6px 6px #0000007a;
}

#header figcaption {
    font-family: 'Bebas Neue', sans-serif;
    -webkit-text-stroke: 1px black;
    color: white;
    font-size: 35px;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#btn-mobile {
    display: none;
}

#carouselExampleInternal {
    position: relative;
    z-index: 10;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    box-shadow: 6px 6px 6px #0000007a;
    transition: 0.3s;
    width: 100%;
    display: inline-flex;
    height: 240px;
}

.carousel-inner img {
    object-fit: fill;
    width: 90%;
}

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: hidden;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 30px;
        color: #003f91;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: currentColor;
        margin-top: 4px;
        position: relative;
        border-top: 2px solid;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}